.modules {
  display: block;
  float: left;
  overflow: auto;
  margin: 0em;
  padding: 1em 1em 1em 1em;
}

img {
  height: 10em;
  width: auto;
  margin: .5em 3em;
}

.swatches li {
  border-radius: 50%;
  height: 2em;
  width: 2em;
  float: left;
  margin: 0 .5em .5em;
  list-style: none;
}

.bg-black {
  background-color: black;
}

.bg-blue {
  background-color: blue;
}

.bg-gray {
  background-color: gray;
}

.bg-red {
  background-color: red;
}

h6 {
  font-size: 1em;
  text-align: center;
  padding: .5em;
  margin: .5em;
}

p {
  text-align: center;
  line-height: .5em;
}

.review {
  text-decoration: none;
  text-align: center;
  color: orange;
  width: 100%;
  float: left;
  margin-bottom: .5em;
}

button {
  clear: both;
  margin-left: 7em;
}

.old-price {
  text-decoration: line-through;
}

.navbar {
  background-color: orange;
  font-weight: bold;
  margin: 1em 0 1em;
  float: left;
  width: 100vw;
}

.navbar ul {
  width: 100vw;
  height: 2vh;
  font-size: 1.5em;
  list-style: none;
  padding: 0 1em 1em 1em;
}

.navbar ul li {
  float: left;
  padding: .5em 0 .5em;
  text-align: center; 
  width: 20%;
}

.navbar li a {
  display: block;
  padding: 0 0;
  text-decoration: none;
  color: white;
}

.navbar li:hover {
  background-color: darkorange;
}

.content-wrapper {
  width: 75vw;
  margin: 0;
  float: right;
  padding: 0;
}

.sidebar {
  float: left;
  padding: 1em;
  border: .2em solid orange;
  width: 10em;
  margin: 0;
}

.sidebar ul {
  list-style: none;
  padding-left: 0;
}

.sidebar li {
  margin-top: 1em;
}

.sidebar li a {
  text-decoration: none;
  margin: 0 1em 0 0;
}

footer {
  clear: both;
}