section {
  display: block;
  float:left;
  margin: 2em;
  padding: 1em 1em 1em 1em;
}

.swatches li {
  border-radius: 50%;
  height: 2em;
  width: 2em;
  float: left;
  margin: .5em;
  list-style: none;
}

.bg-black {
  background-color: black;
}

.bg-blue {
  background-color: blue;
}

.bg-gray {
  background-color: gray;
}

.bg-red {
  background-color: red;
}

h6 {
  font-size: 1em;
  text-align: center;
  padding: .5em;
  margin: .5em;
}

p {
  text-align: center;
  line-height: .5em;
}

.review {
  text-decoration: none;
  text-align: center;
  color: orange;
  width: 100%;
  -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
  transition: width 2s, height 2s, background-color 2s transform 2s;
}

.review:focus {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  background-color: blue;
}

button {
  clear: both;
  text-align: center;
}

.old-price {
  text-decoration: line-through;
}